.collection-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 10px;
  text-align: center;

  .collection-image-title {
    display: flex;
    flex-direction: column;

    .image {
      position: relative;
      height: 200px;
      width: 200px;
    }

    .title {
      font-family: Circular Bold;
      font-size: 14px;
      color: white;
      // padding-top: 20px;
      // padding-bottom: 5px;
      margin-top: 10px;
      margin-bottom: 5px;
    }
  }



  .sub-title {
    // padding-top: 5px;
    font-family: Circular Medium;
    font-size: 13px;
    letter-spacing: 0.5px;
    color: #fff;
    opacity: 0.6;
    text-decoration: none;
  }

  .sub-title:hover {
    // text-decoration-line: underline;
    border-bottom: 1px solid white;
    color: white;
    opacity: 1;
  }
}