.details-image-title {
  display: flex;
  flex-direction: column;

  .image {
    position: relative;
    height: 260px;
    width: 260px;

    img {
      height: 260px;
      width: 260px;
    }
  }

  .title {
    font-family: Circular Bold;
    font-size: 25px;
    color: white;
    margin-top: 10px;
    margin-bottom: 5px;
    align-items: center;
  }
}

.details-main {
  background-image: linear-gradient(#604E39, #0D0B08);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;

  .info {
    flex: 1;
    padding: 40px;
    display: flex;
    flex-direction: column;
    max-width: 340px;


    .sub-title {
      // padding-top: 5px;
      font-family: Circular Medium;
      font-size: 13px;
      letter-spacing: 0.5px;
      color: #fff;
      opacity: 0.6;
      text-decoration: none;
    }

    .sub-title:hover {
      // text-decoration-line: underline;
      border-bottom: 1px solid white;
      color: white;
      opacity: 1;
    }

    .year-songs {
      padding-top: 30px;
      font-family: Circular Medium;
      font-size: 13px;
      letter-spacing: 0.5px;
      color: #fff;
      opacity: 0.6;
    }
  }

  .songs {
    flex: 2;
    width: 100%;
    margin-right: 30px;
  }
}