.sidebar-main {
  max-width: 230px;
  height: 100vh;
  background-color: black;
  display: flex;
  flex-direction: column;
  color: white;
  font-family: Circular Bold;
}

.sidebar-item {
  color: white;
}