.sidebar-main {
  min-width: 230px;
  height: 100vh;
  background-color: black;
  display: flex;
  flex-direction: column;
  color: #b3b3b3;
  font-family: Circular Bolder;
  align-items: center;
}

.sidebar-main-links {
  width: 75%;
  height: 100%;
  margin-top: 25px;
}

.sidebar-spacer {
  height: 52%;
  border-bottom: 1px solid #b3b3b3;
}

.sidebar-item {
  display: flex;
  align-items: center;
  color: #b3b3b3;
  padding-bottom: 16px;
}

.sidebar-item:hover {
  color: white;
  font-weight: bold
}

.sidebar-item i {
  font-size: 20px;
}

.sidebar-item-highlighted {
  color: white;
  font-weight: bold
}

.sidebar-item-text {
  font-size: 14px;
  letter-spacing: 0.4px;
  padding-left: 14px;
}

.sidebar-main-logo {
  display: flex;
  align-items: center;
  color: white;
  padding-bottom: 30px;
  //for TOTORO LOGO
  fill: white;
  stroke: white;
}

.sidebar-main-logo i {
  font-size: 38px;
}

.sidebar-main-logo:hover {
  fill: #1ed760;
  stroke: #1ed760;
  color: #1ed760;
}

.sidebar-main-logo-name {
  font-family: Circular Medium;
  font-size: 26px;
  letter-spacing: 0.5px;
  margin-left: 2px;
  margin-bottom: -11px;
  // margin-left: px;
}

// .cls-1 {
//   fill: white;
//   stroke: white;
//   stroke-width: 3px;

//   // filter: brightness(100);
// }