.topbar-main {
  min-height: 58px;
  width: 100%;
  align-items: center;
  background-color: transparent;
  display: flex;
  justify-content: center;
}

.topbar-inner {
  margin-top: 30px;
  background-color: transparent;
  font-family: Circular Bold;
  display: flex;
  color: white;
  align-items: center;
  text-align: center;
}



// .category-selector-main {
//   flex: 3;
//   display: inblock;
//   margin-left: 50px;
//   // justify-content: space-evenly;
// }
.category-selector-main {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 40px;
  // margin-left: 15px;
  // grid-template-columns: repeat(4, minmax(150px, 1fr));
  // grid-column-gap: 40px;
  // grid-row-gap: 6px;
}

.category-item-wrapper {
  width: 100px;
}

.category-item-link {
  color: #A8A2A3;
  font-size: 12px;
  letter-spacing: 2px;
}

.category-item-link.active {
  color: white;
  letter-spacing: 2.5px;
  // border-bottom: 1px solid white;
}

.category-item {
  -webkit-transition: color 0.3s ease-out;
  -moz-transition: color 0.3s ease-out;
  -o-transition: color 0.3s ease-out;
  transition: color 0.3s ease;
}

.category-item:hover {
  color: white;
}


.topbar-button-wrapper {
  flex: 1;
  margin-top: -20px;

  .topbar-button {
    width: 150px;
    cursor: pointer;
    margin-top: 20px;
    background-color: #1DB954;
    border: #1DB954;
    font-family: "Circular Bold";
    font-size: 11px;
    text-decoration: none;
    text-align: center;
    letter-spacing: 2px;
    background-color: #1DB954;
    border: #1DB954;
    // padding: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    // padding-left: 30px;
    // padding-right: 30px;
    border-radius: 25px;
    color: white;
    transition: .5s;
    outline: none;
    transform: scale(1);
    margin-left: 50px;
  }

  .topbar-button:hover {
    cursor: default;
    transform: scale(1.05);
    background-color: #1ed760;
  }

  .topbar-button:active {
    transform: scale(1);
  }
}